@import "tailwindcss";

.stat-container {
	@apply h-full flex flex-1 flex-row justify-around align-middle;
}

.stat-item {
	@apply w-30 h-full flex flex-col align-middle justify-center;
}

.stat-item h1 {
	@apply text-center text-4xl font-bold w-full;
}

.stat-item p {
	@apply text-center w-full;
}
