@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base
{
	h1	{ @apply text; }
	p	{ @apply text; }
}

@layer components
{
	.body			{ @apply bg-[url('../assets/background.jpg')] bg-cover min-h-screen flex items-start justify-center pt-[10vh] w-screen; }
	.text			{ @apply absolute left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-[3vw] font-bold rounded-lg text-center hidden; font-family: 'Orbitron', 'Courier New', monospace; }

	/* HOMEPAGE */
	.home			{ @apply relative flex flex-col; }
	.title			{ @apply text-white text-[10vh] font-bold text-center mb-[2vw] drop-shadow-lg pb-[20%] animate-pulse duration-500; font-family: 'Orbitron', 'Courier New', monospace; }
	.player-button	{ @apply border-white relative w-[20vw] m-[3vw] text-white text-[2vw] font-bold py-[1vw] rounded-xl hover:bg-white hover:text-black active:scale-90 duration-200; font-family: 'Orbitron', 'Courier New', monospace; }

	/* GAME */
	.game			{ @apply hidden bg-black w-[50vw] aspect-[4/3] border-[0.4vw] border-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2; box-sizing: content-box; }
	.paddle-left	{ @apply absolute top-1/2 transform -translate-y-1/2 bg-white; }
	.paddle-right	{ @apply absolute top-1/2 transform -translate-y-1/2 bg-white; }
	.net			{ @apply absolute left-1/2 top-0 transform -translate-x-1/2 w-0 h-full border-l-[0.35vw] border-dashed border-white; }
	.ball			{ @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white aspect-square; }
	.score-left		{ @apply absolute top-[2%] right-1/2 pr-[2vw] text-white text-[3vw] text-right; font-family: 'Orbitron', 'Courier New', monospace; }
	.score-right	{ @apply absolute top-[2%] left-1/2 pl-[2vw] text-white text-[3vw] text-left; font-family: 'Orbitron', 'Courier New', monospace; }
	.countdown		{ @apply top-[50%] }
	.pause-msg		{ @apply top-[40%] }
	.continue-msg	{ @apply top-[70%] text-[2vw] w-[40vw] }
	.winner-msg		{ @apply top-[40%] w-[20vw] }
	.play-again-msg	{ @apply top-[70%] text-[2vw] w-[40vw] }
}
