@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .game-container {
	@apply w-[40vw] aspect-[4/3] bg-black border-4 border-white relative;
  }
  
  .paddle {
    @apply absolute bg-white;
  }
  
  .ball {
    @apply absolute bg-white rounded-full;
  }
  
  .score {
    @apply absolute text-white text-4xl font-bold;
  }
}