@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base
{
	body	{ @apply bg-[url('../assets/background.jpg')]; }
	h1		{ @apply text animation text-[10vh] my-[10vh]; }
	p		{ @apply text; }
	button	{ @apply text text-[4vh] border-white w-fit self-center w-[40vh] py-[1.5vh] my-[1vh] rounded-xl hover:bg-white hover:text-black active:scale-90 duration-200; }
}

@layer components
{
	.text			{ @apply relative text-white font-bold rounded-lg text-center; font-family: 'Orbitron', 'Courier New', monospace; }
	.animation		{ @apply animate-pulse duration-500; }
	.centered		{ @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2; }
	.paddle			{ @apply absolute top-1/2 transform -translate-y-1/2 bg-white }

	/* HOMEPAGE */
	.home			{ @apply relative flex flex-col gap-[5vh]; }

	/* GAME */
	.game			{ @apply centered flex flex-col bg-black w-[50vw] aspect-[4/3] border-[0.5vw] border-white; box-sizing: content-box; }
	.paddle-left	{ @apply paddle; }
	.paddle-right	{ @apply paddle; }
	.net			{ @apply centered h-full border-l-[0.35vw] border-dashed border-white; }
	.ball			{ @apply centered bg-white aspect-square; }
	.score-left		{ @apply absolute text-[3vw] top-[2%] text-right right-1/2 pr-[2vw]; }
	.score-right	{ @apply absolute text-[3vw] top-[2%] text-left  left-1/2 pl-[2vw]; }
	.countdown		{ @apply centered text-[3vw] animation }
	.pause-msg		{ @apply centered text-[3vw] top-[40%] w-[20vw] }
	.continue-msg	{ @apply centered text-[2vw] top-[70%] animation }
	.winner-msg		{ @apply centered text-[3vw] top-[40%] w-[20vw] }
	.play-again-msg	{ @apply centered text-[2vw] top-[70%] animation }
}
