@import "tailwindcss";

.text {
    @apply relative text-white font-bold rounded-lg text-center;
    font-family: 'Orbitron', 'Courier New', monospace;
}
/* .text			{ @apply relative text-white font-bold rounded-lg text-center; font-family: 'Orbitron', 'Courier New', monospace; } */
.centered		{ @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2; }
.paddle			{ @apply absolute top-1/2 transform -translate-y-1/2 bg-white; }

/* HOMEPAGE */
.home			{ @apply relative flex flex-col gap-[5vh]; }

/* GAME */
.game			{ @apply hidden absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col bg-black w-[50vw] aspect-[4/3] border-[0.5vw] border-white; box-sizing: content-box; }
.paddle-left	{ @apply absolute top-1/2 transform -translate-y-1/2 bg-white; }
.paddle-right	{ @apply absolute top-1/2 transform -translate-y-1/2 bg-white; }
.net			{ @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 h-full border-l-[0.35vw] border-dashed border-white; }
.ball			{ @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white aspect-square; }
.score-left		{ @apply absolute text-[3vw] top-[2%] text-right right-1/2 mr-[2vw]; }
.score-right	{ @apply absolute text-[3vw] top-[2%] text-left  left-1/2 ml-[2vw]; }
.countdown		{ @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-[3vw] animate-pulse; }
.pause-msg		{ @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-[3vw] top-[40%] w-[80vw]; }
.continue-msg	{ @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-[2vw] top-[70%] w-[80vw] animate-pulse; }
.winner-msg		{ @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-[3vw] top-[40%] w-[80vw]; }
.play-again-msg	{ @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-[2vw] top-[70%] w-[80vw] animate-pulse; }
.player1		{ @apply absolute top-0 left-0 text-[2vw] m-[1vw]; }
.player2		{ @apply absolute top-0 right-0 text-[2vw] m-[1vw]; }
.searching-msg	{ @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-[2vw] animate-pulse; }



@layer base {
	body	{ @apply bg-[url('../assets/background.jpg')]; }
	h1		{ @apply text-white animate-pulse text-[10vh] my-[10vh]; }
	p		{ @apply text-white; }
	button	{
		@apply text-white text-[4vh] border-white w-fit self-center w-[40vh] py-[1.5vh] my-[1vh] rounded-xl hover:bg-white hover:text-black active:scale-90 duration-200;
	}
}