
@import "tailwindcss";

:root {
	--dark:		#282C34;
	--darker:	#16181D;
	--red:		#E06C75;
	--yellow:	#E5C07B;
	--blue:		#61AFEF;
	--white:	#FBF1C7;
	--green:	#98C379;
	--purple:	#C678DD;
}

/* @layer base {
	body {
		@apply bg-(--darker) text-(--white);
	}
} */

/* .banner {
	@apply flex flex-wrap gap-4
} */
