
@import "tailwindcss";

:root {
	--dark:		#282C34;
	--darker:	#16181D;
	--red:		#E06C75;
	--yellow:	#E5C07B;
	--blue:		#61AFEF;
	--white:	#FBF1C7;
	--green:	#98C379;
	--purple:	#C678DD;
}

@layer base {
	body {
		@apply flex flex-col flex-wrap bg-(--darker) text-(--white) h-screen;
	}
	

	header {
		@apply	translate-y-25 flex items-center justify-center w-full h-[10vh];
	}
}

.avatar {
	@apply w-full h-full object-cover bg-gray-100 rounded-full border-2 border-(--darker);
}

.user-profile {
	@apply	flex w-60 h-25 bg-(--dark) p-2 rounded-3xl
			border-2 border-(--white);
}

.user-profile #avatar-container {
	@apply	flex h-full aspect-square relative;
}

.user-profile #avatar-name {
	@apply	absolute bottom-0 left-0 right-0 text-center
			rounded-full bg-(--dark) border-2 border-(--darker) text-sm;
}

.user-profile #user-status {
	@apply	absolute h-[15px] w-[15px] rounded-full
			bottom-[25%] right-0.5 bg-(--red);
}
.user-profile #user-stats {
	@apply	flex-1 flex flex-col items-center justify-center;
}
.user-profile #user-stats h1 {
	@apply	text-center;
}

.banner {
	@apply	w-full flex flex-wrap gap-5 my-10;
}

.banner #line1 {
	@apply	h-2 w-full bg-(--red) m-0 p-0;
}

.banner #line2 {
	@apply	h-2 w-full bg-(--yellow) m-0 p-0;
}

.banner #line3 {
	@apply	h-2 w-full bg-(--blue) m-0 p-0;
}

.banner #line4 {
	@apply	h-2 w-full bg-(--green) m-0 p-0;
}


.banner-text {
	@apply	absolute flex items-center justify-center;
}

.banner-text h1 {
	@apply	text-6xl bg-(--darker) px-6 py-4 font-extrabold;
}

.main {
	@apply flex-1 flex justify-around items-center align-middle w-full;
}

.play-menu {
	@apply flex flex-1 flex-col items-center;
}

.play-menu button {
	@apply	text-5xl px-6 py-4 w-fit font-bold hover:underline;
}

.user {
	@apply ml-6 flex-1 h-full flex flex-col gap-2 justify-end items-start;
}

.user #profile-header {
	@apply underline text-3xl;
}

#leaderboard {
	@apply flex-1;
}